@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*{
  font-family: 'Roboto', sans-serif;
}
/* body{
  background-color: rgb(255, 251, 242);
}

.layout-main{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 90px;
}
.white-menubar{
  background-color: rgb(238, 215, 172);
  color: black;
}

.option-menu{
background-color: rgb(209, 127, 27);
} */

