@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
*{
  font-family: 'Roboto', sans-serif;
}
 body{
  background-color: rgb(255, 251, 242);
}

.layout-main{
  display: flex;
  flex-direction: column;
  margin-top: 60px; ;
  margin: 0 90px;
  padding: 0;
}
.container{
  background-color: white;
}

